*~
*.bak
build/
*,cover
cover
.coverage
dist/
.DS_Store
*.html
htmlcov/
.idea/
*.log
MANIFEST
.noseids
public
*.pyc
__pycache__
*.pyo
/.pytest_cache/
.Python
README
results/
.spyproject/
*.swp
tags
target/
venv
.vscode/
yaml.egg-info/
